h3 Изменить пользователя

= simple_form_for current_user do |f|
  = f.input :email, label: "Введите новый email"
  .btn = f.submit "Сохранить"

= link_to "Изменить пароль", edit_password_path
br
= link_to 'Назад', root_path